* {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    border: 0;
}

html {
    font-size: 10px;
    font-family: sans-serif;
}

.users_table {
    width: 100%;
    font-size: 1.2em;
    border-collapse: collapse;
}

.users_table th {
    background-color: rgb(91, 91, 255);
    color: white;
}

.users_table th:first-child {
    border-radius: .3em 0 0 0;
}

.users_table th:last-child {
    border-radius: 0 .3em 0 0;
}

.users_table tr {
    text-align: center;
    height: 2.5em;
    border-bottom: 1px rgb(228, 228, 255) solid;
    transition: .25s;
}

.users_table tr:hover {
    background-color: rgb(228, 228, 255);
    transition: .25s;
}

.container {
    width: 100%;
}

.jambotrom {
    box-sizing: border-box;
    border-radius: .3em;
    background-color: rgb(91, 91, 255);
    padding: 3em 5em 5em;
    color: rgb(255, 255, 255);
}

.jambotrom h1 {
    font-size: 4.3em;
}

.user_form input {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: .5em;
    border: 1px rgb(160, 160, 160) solid;
    border-radius: .3em;
    box-sizing: border-box;
}

.user_form input[type='submit']{
    width: 7.5em;
    box-sizing: border-box;
    padding: .9em;
    border-radius: .3em;
    background-color: rgb(91, 91, 255);
    color: rgb(255, 255, 255);
}

@media(min-width:800px) {
    .container {
        margin: 0 auto;
        width: 70em;
    }
}

@media(min-width:1200px) {
    .container {
        width: 100em;
    }
}